.task-container {
  .title {
    .tooltip {
      color: #00b4e5;
      margin-left: 20px;
    }
  }

  .items-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
  }
}
